body{
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 320px;
    height: 568px;
}

.api-controls{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 200px;
}

.group{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.progress-bar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.progress-bar.animate{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(#005cff calc(var(--progress-value) * 1%), #eaf0f6 0) !important;
    animation: progress 2s 1 forwards;
}

.value-input{
    all: unset;
    width: 60px;
    height: 34px;
    border: 1px solid black;
    border-radius: 34px;
}

@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress {
    to { --progress-value: 75; }
}

/* Toggle switch раздел */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #dae6ec;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #005cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (min-width: 321px) and (max-height: 320px){
    .container{
        flex-direction: row;
        width: 568px;
        height: 320px;
        gap: 30px;
    }

    .api-controls{
        max-width: 150px;
    }
}

@media (orientation: landscape) and (max-height: 320px){
    .container{
        flex-direction: row;
        width: 568px;
        height: 320px;
        gap: 30px;
    }
}