body{
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 320px;
    height: 568px;
}

.api-controls{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 200px;
}

.group{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding-left: 25px;
}

.progress-bar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.progress-bar.animate{
    animation: progress 4s infinite linear;
}

.value-input{
    all: unset;
    width: 60px;
    height: 34px;
    border: 1px solid black;
    border-radius: 34px;
}

@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@property --progress-value_white {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress {
    0%, 25% { 
        --progress-value: 0; 
        background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(#005cff calc(var(--progress-value) * 1%), #eaf0f6 0) !important;
    }
    25%, 50% { 
        --progress-value: 100;
        background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(#005cff calc(var(--progress-value) * 1%), #eaf0f6 0) !important;
    }
    50%, 75% { 
        --progress-value_white: 0; 
        background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(#eaf0f6 calc(var(--progress-value_white) * 1%), #005cff 0) !important;
    }
    75%, 100% { 
        --progress-value_white: 100;
        background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(#eaf0f6 calc(var(--progress-value_white) * 1%), #005cff 0) !important;
    }
}

/* Toggle switch раздел */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #dae6ec;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #005cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


@media (orientation: landscape){
    .container{
        flex-direction: row;
        width: 568px;
        height: 320px;
        gap: 30px;
    }
}